{% extends 'base.html' %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js" crossorigin="anonymous"></script>

<script type="module" src="{{ url_for('static', filename='js/gesture.js') }}"></script>
    <div class="row" style="margin-top:5vh;width:100%">
        <h1 class="text-center display-4">{% block title %} Gesture Control {% endblock %}</h1>
    </div>
    <div class="container" style="text-align:center">
        <video class="input_video" style="display:none"></video>
        <canvas class="output_canvas" width="768px" height="432px" style="margin:0;padding:0"></canvas>
      </div>

    
{% endblock %}

<!--TODO: Add time limit to recording-->

{% block extra %}
{% endblock %}



