{% extends 'base.html' %}

{% block content %}
    <div class="row" style="margin-top:5vh">
        <h1 class="text-center display-4">{% block title %} Hand Pose Information {% endblock %}</h1>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div
{% endblock %}

{% block extra %}

{% endblock %}